@media screen and (max-width: 1920px) {
	html {font-size: 14px!important;}
}
@media screen and (max-width: 1680px) {
	html {font-size: 14px!important;}
}
@media screen and (max-width: 1366px) {
	html {font-size: 10px!important;}
	.aside-navigation ul li {
		@include font-size(12px);
	}
	.aside-navigation ul li a {
		padding: 18px 18px;
	}
	.user-block-middle .user-block__text {
		@include font-size(16px);
	}
}
@media screen and (max-width: 1280px) {
	html {font-size: 12px;}
	.main-aside {padding: 40px 20px;}
}
@media screen and (max-width: 1024px) {
	html {font-size: 12px;}
	//.main-content {padding: 20px;}
	.main-aside {padding: 20px 20px;}
	.main-content {padding: 20px;}
	.content-block {padding: 20px 20px;}
	.end-match-container {
		padding: 30px 20px 20px;
	}
	.search-friends__list-user {
		@include font-size(10px);
	}
	.search-friends {
		padding: 20px 30px;
		margin: -20px -20px 20px;
	}
	.friend-container .sv-division-10-per {
		width: 20%;
	}
	.friend-container .sv-division-50-per {
		width: 40%;
	}
	.subscription__tarif-info {padding: 0;}
	.chat__aside {padding: 10px;}
	.chat__submit {background-image: none;}
	.subscription__extend__btn {padding: 10px 20px;}
	//
	footer {
		height: 50px;
	}
	.main-container {
		height: calc(100vh - 144px);
	}
	.footer-content .sv-row {
		padding-top: 12px;
	}
	.chat {padding: 0;}
	.games-table tr th a:before {
		margin-right: 14px;
	}
	.tabs li a {min-width: 170px;}
	//
	.header-menu-btn .header-menu-btn__text {
		@include font-size(20px);
	}
	.btn__money-operation, .btn__transparent, .money-operation .money-operation__quantity {
		@include font-size(14px);
	}
	.ivent-comment {
		@include font-size(20px);
	}
	.btn__friend-option {
		@include font-size(14px);
	}
	.status-block {
		@include font-size(14px);
	}
	.subscription__tarif-block__list {
		padding-top: 24px;
		padding-right: 20px;
	}
	.subscription__tarif-block__list li {
		@include font-size(16px);
	}
	.subscription__you-tarif__cost {
		padding: 10px 14px;
	}
	.subscription__tarif__cost {
		padding: 14px 16px;
	}
	//
	.chat__aside {width: 20%; padding: 20px;}
	.chat__container {width: 80%;}
	.chat__input {
		width: 75%;
		@include font-size(22px);
	}
	.chat__submit {
		width: 22%;
		@include font-size(16px);
		padding: 14px 24px 14px 24px;
	}
	.chat-message__message-cloud {padding: 16px;}
	.chat-message__text,.chat-message__time {@include font-size(20px);}
	.chat-message__time {@include font-size(18px);}
	//
	.games-table tr th a {
		@include font-size(12px);
	}
	.search-friends {
		.sv-division-25-per:first-child {
			width: 25%;
		}
		.sv-division-50-per {
			width: 40%;
		}
		.sv-division-25-per {
			width: 35%;
		}
	}
	.games-table tr td {
		padding: 16px;
		@include font-size(12px);
	}
	.input-search-friends {
		@include font-size(16px);
	}
	.search-friends__list-user {
		@include font-size(16px);
	}
	.search-friends__quantity-friends {
		@include font-size(16px);
	}
	.game-statistic {
		@include font-size(16px);
	}
	.footer-content a, .footer-content p {
		@include font-size(16px);
	}
}
@media screen and (max-width: 768px) {
	html {font-size: 12px;}
}

@media all and (orientation:portrait) and (max-width: 768px) {
	/* стили для портрета */
	.rotate {display: block;}
}

@media all and (orientation:landscape) {
	/* стили для пейзажа */
}
