@mixin border-radius {

}

/* px to rem */

@function calculateRem($size) {
	$remSize: $size / 16px;
	@return $remSize * 1rem;
}

@mixin font-size($size) {
	font-size: $size;
	font-size: calculateRem($size);
}

/*

p {
	@include font-size(14px)
}

*/

/* clearfix */

%clearfix {
		*zoom: 1;
		&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

/*

.container-with-floated-children {
	@extend %clearfix;
}

*/

/* flexbox */

@mixin flexbox-center__dir-col {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;
	padding: 40px;
}

@mixin flexbox-center__dir-row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	justify-content: flex-start;
}

@mixin flexbox-center__dir-row-just-center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

@mixin flexbox-center__dir-row-just-space-bet {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

/* transitions */

@mixin transition-all__0-3 {
	transition: all 0.3s;
}
