/*colors*/

//bg colors

$bg-color-1: #454e67; // body
$bg-color-2: #586076; // header
$bg-color-3: #3e475f;
$bg-color-4: #38415a;
$bg-color-5: #3e475f;
$bg-color-6: #495269; $bg-color-6-hover: #535c73; // nav 
$bg-color-7: #31394e;
$bg-color-8: rgba(255,255,255,0.3);
$bg-color-9: #414a62;
$bg-color-10: #5b6377;

//font colors

$ft-color-1: #fff;
$ft-color-2: #93969e;
$ft-color-3: #9ca0ad;
$ft-color-4: #969aa6;
$ft-color-5: #b4b7be;
$ft-color-6: #26a3d2;
$ft-color-7: #838896;

// bg buttons

$btn-color-1: #21aee0; $btn-color-1-hover: #1c91ba;
$btn-color-2: #059dd8; $btn-color-2-hover: #0375a2;
$btn-color-3: transparent; $btn-color-3-hover: #6c7387;
$btn-color-4: #3e475f; $btn-color-4-hover: #313950;
$btn-color-5: #606980; $btn-color-5-hover: #4a546d;


// border

$border-color-1: #51586a;
$border-color-2: #21aee0; //nav active line
$border-color-3: #62697a;
$border-color-4: #6c7387;
$border-color-5: #555d70;
$border-color-6: #21aee0;
$border-color-7: #5f677c;